@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Code */
.bg-header{
  background-color: #1D4354;
}
.bg-transparent{
  background-color: #ffffff13;
}
.bg-user-transparent{
  background-color: #5a5555a6;
}
.bg-clock{
  background-color: #e5989854;
}
.bg-green{
  background-color: #70DEAD;
}
.bg-chat{
  background-color: #1d1e36;
}
.bg-video{
  background-color: #334F43;
}
.bg-hover{
  background-color: #4FBD8C;
}
.bg-overlay{
  background-color: #7CCC97;
}
.bg-red{
  background-color: #FE0000;
}
/* Scrool Bar Design */
 /* Scroll */
 ::-webkit-scrollbar {
  width: 8px;
  background-color: #f4f4f6;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
  min-height: 100vh;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c1c3c6;
  border: 1px solid transparent;
  height: 50px;
}

 /*Chatroom Scrollbar Design */
 /* Scroll */
.body::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(63, 63, 63, 0);
}
/* Track */
.body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #12ad6a;
  border-radius: 10px;
  min-height: 100vh;
}
/* Handle */
.body::-webkit-scrollbar-thumb {
  background: #4ADE80;
  border: 1px solid #12ad6a;
  border-radius: 10px;
  height: 50px;
}
/* OverWriting CSS */
.logo .btn-ghost:hover, .btn-ghost.btn-active {
  --tw-border-opacity: 0;
  background-color: transparent;
  --tw-bg-opacity: 0.2;
}

 /*Tab Scrollbar Design */
 /* Scroll */
 .tab-bar::-webkit-scrollbar {
  width: 6px;
  background-color: #24253fe5;
}
/* Track */
.tab-bar::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px #e4e7e5; */
  border-radius: 10px;
  min-height: 100vh;
}
/* Handle */
.tab-bar::-webkit-scrollbar-thumb {
  background: rgb(12, 12, 12);
  border: 1px solid #1d1e36;
  border-radius: 10px;
  height: 50px;
}
/* OverWriting CSS */
.logo .btn-ghost:hover, .btn-ghost.btn-active {
  --tw-border-opacity: 0;
  background-color: transparent;
  --tw-bg-opacity: 0.2;
}
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):focus), .menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):hover) {
  background-color: transparent!important;
  /* --tw-bg-opacity: 0.1; */
}
.room {
  width: 100%;
  height: 100%;
}

video {
  width: 98%;
  height: 98%;
}

.room_label {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 4;
}

.room_label_paragraph {
  font-size: 17px;
  color: white;
  margin-top: 0;
  padding: 18px 38px;
  background: linear-gradient(168.68deg, #0052c9 1.12%, #0a91db 100%);
  border-radius: 0px 0px 15px 15px;
}

.video_track_container:first-child:nth-last-child(1) {
  width: 100%;
  height: 100%;
  position: relative;
}

.video_track_container:first-child:nth-last-child(2),
.video_track_container:first-child:nth-last-child(2) ~ .video_track_container {
  width: 50%;
  height: 50%;
  position: relative;
}

.video_track_container:first-child:nth-last-child(3),
.video_track_container:first-child:nth-last-child(3) ~ .video_track_container {
  width: 50%;
  height: 50%;
  position: relative;
}

.video_track_container:first-child:nth-last-child(4),
.video_track_container:first-child:nth-last-child(4) ~ .video_track_container {
  width: 50%;
  height: 50%;
  position: relative;
}

.video_track_container:first-child:nth-last-child(5),
.video_track_container:first-child:nth-last-child(5) ~ .video_track_container {
  width: 33%;
  height: 33%;
  position: relative;
}

.video_track_container:first-child:nth-last-child(6),
.video_track_container:first-child:nth-last-child(6) ~ .video_track_container {
  width: 33%;
  height: 33%;
}

.video_track_container:first-child:nth-last-child(7),
.video_track_container:first-child:nth-last-child(7) ~ .video_track_container {
  width: 33%;
  height: 33%;
}

.video_track_container:first-child:nth-last-child(8),
.video_track_container:first-child:nth-last-child(8) ~ .video_track_container {
  width: 33%;
  height: 33%;
}

.video_track_container:first-child:nth-last-child(9),
.video_track_container:first-child:nth-last-child(9) ~ .video_track_container {
  width: 33%;
  height: 33%;
}

.video_section_container {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.full_screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

.label_only_audio_container {
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: 0%;
}

.label_only_audio_container {
  font-size: 18px;
  color: black;
}
video {
  /* override other styles to make responsive */
  width: 100%    !important;
  height: auto   !important;
  margin-bottom: 5px;
}

/* =====Media Query==== */
@media(max-width:767px){
  /* code will here */
}
