@tailwind base;
@tailwind components;
@tailwind utilities;

.logo .btn-ghost:hover, .btn-ghost.btn-active {
  --tw-border-opacity: 0;
  background-color: transparent;
  --tw-bg-opacity: 0.2;
}
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):focus), .menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):hover) {
  background-color: transparent!important;
  /* --tw-bg-opacity: 0.1; */
}