@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Code */
.bg-green{
  background-color: #70DEAD;
}
.bg-chat{
  background-color: #6FDDAC;
}
.bg-video{
  background-color: #334F43;
}
.bg-hover{
  background-color: #4FBD8C;
}
.bg-overlay{
  background-color: #7CCC97;
}
.bg-red{
  background-color: #FE0000;
}
 /*Scrollbar Design */

 /* Scroll */
::-webkit-scrollbar {
  width: 7px;
  background-color: #70DEAD;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #334F43;
  border-radius: 10px;
  background-color: rgb(245, 239, 239);
  min-height: 100vh;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border: 1px solid #334F43;
  border-radius: 10px;
  height: 50px;
}
/* OverWriting CSS */
.logo .btn-ghost:hover, .btn-ghost.btn-active {
  --tw-border-opacity: 0;
  background-color: transparent;
  --tw-bg-opacity: 0.2;
}
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):focus), .menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):hover) {
  background-color: transparent!important;
  /* --tw-bg-opacity: 0.1; */
}